* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
/*Готовые классы*/
.container-wrapper {
    margin: 0 150px;
}
.container {
    margin: 0 390px;
}
.d-f {
    display: flex;
}
.ju-a {
    justify-content: space-around;
}
.ju-b {
    justify-content: space-between;
}
.ju-c {
    justify-content: center;
}
.al-c {
    align-items: center;
}
.fl-c {
    flex-direction: column;
}
.fw-w {
    flex-wrap: wrap;
}
/*Стили*/
header {
    width: 100%;
    height: 100px;
    background-color: #f5fcfd;
    border-bottom: 1px solid #dcdcdc;
}
.head {
    height: 100px;
}
.logo h1 {
    color: #0f7bff;
}
.navigate nav ul li{
    list-style-type: none;
}
.navigate nav ul li a {
    text-decoration: none;
    color: #929292;
    font-size: 16px;
    font-weight: 500;
    margin-right: 50px;
}
.navigate nav ul li a:hover {
    color: #0f7bff;
}
.sign {
    color: #ffffff;
    padding: 15px 53px;
    background: #0063dd;
    font-size: 16px;
    text-decoration: none;
    border-radius: 30px;
    border: 3px solid #0063dd;
    font-weight: 600;
}
.sign:hover {
    background-color: #fff;
    color:  #0063dd !important;
    transition: .5s;
}
.active {
    right: 0 !important;
}
#sidebar {
    z-index: 9999;
    display: none;
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #0f7bff;
    right: -250px;
    top: 0;
    border-radius: 2%;
    transition: 0.5s;
}
#sidebar ul li {
    list-style-type: none;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}
#sidebar ul li:first-child {
    font-size: 48px;
    text-align: center;
    font-weight: 800;
}
#sidebar ul li a:hover{
    color: #b9bec5;
}
#sidebar ul li a {
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
}
#sidebar .toggle-btn {
    position: absolute;
    right: 270px;
    top: 25px;
    background-color: #0f7bff;
    padding: 10px;
    border-radius: 12px;
    cursor: pointer;
}
#sidebar .toggle-btn:hover {
    transition: 0.3s;
}
#sidebar .toggle-btn:hover span {
    background-color: #0f7bff;
    transition: 0.3s;
}
#sidebar .toggle-btn span {
    background-color: #fafafa;
    display: block;
    width: 25px;
    height: 4px;
    margin: 4px 0;
}
/*new*/
.OurBlogPost {
    height: 400px;
    width: 100%;
    background-color: #f5fcfd;
}
.blog {
    height: 400px;
}
.info-blog strong {
    color: #333;
    font-size: 18px;
}
.info-blog h1 {
    margin-top: 10px;
    color: #333333;
    font-size: 42px;
}
.info-blog p{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
}
/*new*/
.posts-helper {
    max-width: 1150px;
    margin-top: 140px;
}
.select-question {
    margin-right: 120px;
}
.select-question div:first-child{
    border-radius: 5px 5px 0 0;
    border-top: 1px solid #dcdcdc;
}
.select-question div:last-child{
    border-radius: 0 0 5px 5px;
}
.select-question div{
    width: 360px;
    padding: 30px;
    border-bottom: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    transition: .5s;
    cursor: pointer;
}
.select-question div strong {
    font-size: 18px;
    color: #333333;
    font-weight: 500;
}
.select-question div:hover strong{
    color: #fff;
}
.select-question div:hover {
    background: #0f7bff;
}
.questions {
    width: 650px;
}
.questions div {
    margin-bottom: 40px;
}
.questions div h2 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 30px;
}
.questions div p {
    color: #929292;
    font-size: 16px;
    line-height: 1.6;
}
.help_post h2 {
    font-size: 18px;
    color: #333333;
    font-weight: 600;
    margin-right: 30px;
}
.help_post div button {
    padding: 5px 15px;
    background-color: #0f7bff;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #0f7bff;
    font-size: 18px;
    cursor: pointer;
}
.help_post div button:last-child {
    background-color: #fff;
    color: #0f7bff;
    margin-left: 10px;
}
    /*new*/
.platforms {
    margin-top: 130px;
    height: 450px;
    width: 100%;
    background-color: #f5fcfd;
    border-bottom: 1px solid #dcdcdc;
}
.fot-navigation {
    height: 450px;
    display: flex;
    justify-content: space-between;
}
.fot-logo {
    width: 450px;
}
.fot-logo h1 {
    font-size: 36px;
    color: #0f7bff;
    margin-bottom: 20px;
}
.fot-logo p {
    font-size: 16px;
    line-height: 1.6;
    color: #929292;
    margin-bottom: 40px;
}
.soc-icons img {
    filter: grayscale(100%);
    cursor: pointer;
}
.soc-icons img:hover {
    filter: none
}
.soc-icons img:not(:last-child) {
    margin-right: 10px;
}
.company , .fot-blog , .integrations {
    display: flex;
    flex-direction: column;
}
.company div, .fot-blog div, .integrations div {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.company div a, .fot-blog div a, .integrations div a{
    margin-top: 5px;
    font-size: 16px;
    color: #929292;
    cursor: pointer;
}
.company div a:hover, .fot-blog div a:hover, .integrations div a:hover {
    color: #0f7bff;
}
.company h4, .fot-blog h4, .integrations h4 {
    font-size: 18px;
    color: #333333;
    font-weight: 600;
}
footer {
    width: 100%;
    background-color: #f5fcfd;
    height: 100px;
    position: relative;
}
.help-wrapper {
    height: 100px;
}
.helpers a:not(:first-child) {
    margin-left: 25px;
}
.rules p {
    color: #929292;
    font-size: 16px;
}
.helpers a {
    color: #929292;
    font-size: 16px;
    cursor: pointer;
}
.helpers a:hover {
    color: #0f7bff;
}
.arrow-up {
    position: absolute;
    right: 150px;
    top: 25px;
}
.arrow-up img {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0f7bff;
}
