@media(max-width: 1600px) {
    .container {
        margin: 0 300px;
    }
}
@media(max-width: 1400px) {
    .container {
        margin: 0 200px;
    }
    .arrow-up {
        right: 50px;
    }
}
@media(max-width: 1200px) {
    .container {
        margin: 0 150px;
    }
}
@media (max-width: 1100px) {
    .container-wrapper {
        margin: 0 70px;
    }
    .container {
        margin: 0 100px;
    }
    .arrow-up {
        right: 25px;
    }
}
@media (max-width: 1000px){
    footer {
        height: 170px;
    }
    .arrow-up {
        right: calc(50% - 18px);
        top: calc(150px - 40px);
    }
}
@media (max-width: 950px){
    .container-wrapper {
        margin: 0 35px;
    }
    .container {
        margin: 0 50px;
    }
    .fot-logo {
        width: 100%;
    }
    .company, .fot-blog {
        margin-right: 20px;
    }
    .fot-navigation {
        flex-wrap: wrap;
    }
}
@media (max-width: 850px){
    .container-wrapper {
        margin: 0 15px;
    }
}
@media (max-width: 800px) {
    #sidebar {
        display: block;
    }
    .navigate {
        display: none;
    }
    .help-wrapper {
        justify-content: center;
    }
}
@media (max-width: 700px) {
    .platforms {
        margin-top: 0;
    }
}
@media (max-width: 550px) {
    .container {
        margin: 0 25px;
    }
    .platforms {
        display: flex;
        align-items: center;
        height: 500px;
    }
}
@media (max-width: 400px) {
    .fot-logo p {
        font-size: 14px;
    }
    .rules p, .helpers a {
        font-size: 14px;
    }
    .Login form, .Login form input, .Login form div, .login_with_social{
        max-width: 300px;
    }
    .login_with_social a {
        padding: 15px 30px;
    }
}
@media (max-width: 360px){
    .integrations {
        margin-top: 25px;
    }
    .company {
        margin-top: 25px;
    }
    .platforms {
        height: 700px;
    }
    .fot-navigation {
        height: 600px;
    }
    .helpers a {
        margin-bottom: 80px;
    }
    .help-wrapper {
        height: 115px;
    }
    footer {
        height: 190px;
    }
    .arrow-up {
        top: calc(150px - 20px);
    }
}
@media (max-width: 340px){
    #sidebar {
        width: 230px;
        right: -230px;
    }
    .toggle-btn {
        right: 240px !important;
    }
}
